<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head  th:fragment="head">
   <meta charset="UTF-8">
   <meta name="管理后台" content="微信,小程序,后台管理系统">
   <title>
       逐运 | 管理系统
   </title>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel="stylesheet"  type="text/css"  href="/static/layui/css/layui.css" charset="utf-8"/>

    <script  src="/static/layui/layui.js"> </script>
    <link rel="stylesheet" type="text/css" href="/static/css/head.css" charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="/static/css/app.css" charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="/static/css/aside.css" charset="utf-8"/>
    <script  src="/static/js/util.js"> </script>
    <script  src="/static/js/init.js" defer > </script>
    <!--引入vue.js-->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>

</head>

<nav  th:fragment="nav">
    <div class="logo">
        <img  src="/static/img/zyrs.png" alt="逐运"/>
        <div class="title">
            逐运 | 后台管理系统
        </div>
    </div>

    <div class="menu">
            <div class="blog menu-item"><a href="http://www.zyrs.xyz" target="_blank">博客</a></div>

            <ul class="layui-nav info"  th:if="${current_user} != null">
                <li class="layui-nav-item">
                    <a href="javascript:;" class="menu-item-info">
                        <span class="layui-icon">&#xe667</span>
                        <div id="myInfo">
                            <img  th:if="${current_user.logo ne ''}" th:src="${current_user.logo}"class="layui-nav-img"/>
                            <img  th:if="${current_user.logo eq ''}" src="/static/img/zyrs.png" class="layui-nav-img"/>
                            <span class="layui-icon">&#xe625;</span>
                        </div>
                    </a>
                </li>
                <li class="layui-nav-child " id="myInfo-other">
                    <a href="/logout" style="color: #576b95;">退出</a>
                </li>
           </ul>
    </div>
    <script>
        $("#myInfo").click(function(){
            $("#myInfo-other").toggle();
        })

        $("#myInfo-other").mouseleave(function(){
            $("#myInfo-other").hide();
        })
    </script>

    <!--全局消息提示框-->
    <script th:inline="javascript">
         if([[${errmsg}]] != null){
             mylayer.msg([[${errmsg}]]);
         }
    </script>
</nav>

</html>





