<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zyrs.xyz.obadmin.mapper.ObMapper">

    <select id="getObInfoByUserId" resultType="zyrs.xyz.obadmin.bean.Ob">
        select  id,name,logo,descr,create_time,hold_date,hold_cost,hold_ins from tbl_object where user_id = #{id}
    </select>

    <resultMap id="getMenuResultMap" type="zyrs.xyz.obadmin.bean.Menu">

        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="menuLogo" column="menu_logo"/>
        <result property="menuType" column="menu_type"/>
        <result property="level" column="level"/>


        <collection property="menuSecondList" ofType="zyrs.xyz.obadmin.bean.MenuSecond">
            <id property="id" column="ms_id"/>
            <result property="name" column="ms_name"/>
            <result property="url" column="ms_url"/>
            <result property="menuType" column="ms_type"/>
            <result property="menuParent" column="menu_parent"/>
        </collection>

    </resultMap>

   <select id="getMenuByObId" resultMap="getMenuResultMap">
       select
           m.id,m.name,m.menu_logo,m.menu_type,m.level,ms.id ms_id,ms.name ms_name,ms.url ms_url,ms.menu_type ms_type,ms.menu_parent
       from
          tbl_menu m
       left join
          tbl_menu_second ms
       on
          m.id = ms.menu_parent
       left join
            tbl_menu_object mo
       where
             mo.ob_id = #{id}
       order by
                m.level asc, m.id asc, ms.id asc;;
   </select>

    <select id="getMenuWithAdmin" resultMap="getMenuResultMap">
        select  m.id,m.name,m.menu_logo,m.menu_type,m.level,ms.id ms_id,ms.name ms_name,ms.url ms_url,ms.menu_type ms_type,ms.menu_parent from  tbl_menu m left join tbl_menu_second ms on m.id = ms.menu_parent where m.menu_type = 1 and (ms.menu_type = 1  or  ms.menu_type is null ) order by m.level asc, m.id asc, ms.id asc;
    </select>

    <select id="getMenu" resultMap="getMenuResultMap">
        select  m.id,m.name,m.menu_logo,m.menu_type,m.level,ms.id ms_id,ms.name ms_name,ms.url ms_url,ms.menu_type ms_type,ms.menu_parent from  tbl_menu m left join tbl_menu_second ms on m.id = ms.menu_parent order by m.level asc;
    </select>

    <insert id="add_or_update_menu" parameterType="zyrs.xyz.obadmin.bean.Menu" useGeneratedKeys="true">
        replace into tbl_menu value(#{id},#{name},#{menuType},#{menuLogo},#{level})
    </insert>
    <insert id="add_or_update_menuSecond" parameterType="zyrs.xyz.obadmin.bean.MenuSecond" useGeneratedKeys="true">
        replace into tbl_menu_second value(#{id},#{name},#{url},#{menuType},#{menuParent})
    </insert>

    <!--删除菜单-->
    <delete id="del_menu">
        delete from tbl_menu where id = #{id}
    </delete>
    <delete id="del_menu_second">
        delete from tbl_menu_second where id = #{id}
    </delete>

    <!--项目信息-->
    <select id="get_all_project_list" resultType="zyrs.xyz.obadmin.bean.Ob">
        select * from tbl_object
    </select>
</mapper>