<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zyrs.xyz.obadmin.mapper.ObMapper">

    <select id="getObInfoByUserId" resultType="zyrs.xyz.obadmin.bean.Ob">
        select  id,name,logo,descr,create_time,hold_date,hold_cost,hold_ins from tbl_object where user_id = #{id}
    </select>

    <!--菜单列表-->
    <resultMap id="getMenuResultMap" type="zyrs.xyz.obadmin.bean.Menu">

        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="menuLogo" column="menu_logo"/>
        <result property="menuType" column="menu_type"/>
        <result property="level" column="level"/>

        <collection property="menuSecondList" ofType="zyrs.xyz.obadmin.bean.MenuSecond">
            <id property="id" column="ms_id"/>
            <result property="name" column="ms_name"/>
            <result property="url" column="ms_url"/>
            <result property="menuType" column="ms_type"/>
            <result property="menuParent" column="menu_parent"/>
        </collection>

    </resultMap>

    <!--菜单-项目  1对多列表-->
    <resultMap id="getMenuProjectResultMap" type="zyrs.xyz.obadmin.bean.MenuProject">
         <!--必须以菜单的id为主-->
        <id property="mid" column="id"/>
        <result property="id" column="mp_id"/>
        <result property="mname" column="name"/>

        <collection property="obList" ofType="zyrs.xyz.obadmin.bean.Ob">
            <result property="name" column="o_name"/>
            <result property="logo" column="o_logo"/>
        </collection>

    </resultMap>


   <select id="getMenuByObId" resultMap="getMenuResultMap">
       select
           m.id,m.name,m.menu_logo,m.menu_type,m.level,ms.id ms_id,ms.name ms_name,ms.url ms_url,ms.menu_type ms_type,ms.menu_parent
       from
          tbl_menu m
       left join
          tbl_menu_second ms
       on
          m.id = ms.menu_parent
       left join
            tbl_menu_object mo
       where
             mo.ob_id = #{id}
       order by
                m.level asc, m.id asc, ms.id asc;;
   </select>

    <select id="getMenuWithAdmin" resultMap="getMenuResultMap">
        select  m.id,m.name,m.menu_logo,m.menu_type,m.level,ms.id ms_id,ms.name ms_name,ms.url ms_url,ms.menu_type ms_type,ms.menu_parent from  tbl_menu m left join tbl_menu_second ms on m.id = ms.menu_parent where m.menu_type = 1 and (ms.menu_type = 1  or  ms.menu_type is null ) order by m.level asc, m.id asc, ms.id asc;
    </select>

    <select id="getMenu" resultMap="getMenuResultMap">
        select  m.id,m.name,m.menu_logo,m.menu_type,m.level,ms.id ms_id,ms.name ms_name,ms.url ms_url,ms.menu_type ms_type,ms.menu_parent from  tbl_menu m left join tbl_menu_second ms on m.id = ms.menu_parent order by m.level asc;
    </select>

    <insert id="add_or_update_menu" parameterType="zyrs.xyz.obadmin.bean.Menu" useGeneratedKeys="true">
        replace into tbl_menu value(#{id},#{name},#{menuType},#{menuLogo},#{level})
    </insert>
    <insert id="add_or_update_menuSecond" parameterType="zyrs.xyz.obadmin.bean.MenuSecond" useGeneratedKeys="true">
        replace into tbl_menu_second value(#{id},#{name},#{url},#{menuType},#{menuParent})
    </insert>

    <!--删除菜单-->
    <delete id="del_menu">
        delete from tbl_menu where id = #{id}
    </delete>
    <delete id="del_menu_second">
        delete from tbl_menu_second where id = #{id}
    </delete>

    <!--项目信息-->
    <select id="get_all_project_list" resultType="zyrs.xyz.obadmin.bean.Ob">
        select * from tbl_object order by status asc,user_id asc
    </select>
    <insert id="add_or_update_project" parameterType="zyrs.xyz.obadmin.bean.Ob" useGeneratedKeys="true">
        replace into tbl_object value(#{id},#{owner},#{name},#{logo},#{descr},#{createTime},#{holdDate},#{holdCost},#{holdIns},#{userId},#{status})
    </insert>
    <select id="getObCountInfoById" resultType="java.lang.Integer">
        select count(id) from tbl_object where id = #{id}
    </select>
    <delete id="delete_project">
        delete  from tbl_object where id = #{id}
    </delete>
    <update id="project_relay">
        update tbl_object set hold_date = DATE_ADD(hold_date, INTERVAL #{param2} MONTH) where id = #{param1}
    </update>

    <update id="flush_project_status">
        update tbl_object set status = 1 where NOW() <![CDATA[<]]> hold_date;
        update tbl_object set status = 2 where NOW() > hold_date;
        update tbl_object set status = 3 where NOW() > DATE_ADD(hold_date,INTERVAL 1 MONTH);
    </update>


    <!--获取菜单-项目列表-->
    <select id="getMenuProjectsList" resultMap="getMenuProjectResultMap">
        select m.id,m.name,mp.id mp_id,o.name o_name,o.logo o_logo from  tbl_menu_project as mp right join tbl_menu_second as m   on mp.mid=m.id left join tbl_object as o on mp.oid = o.id where m.menu_type <![CDATA[<>]]> 1 order by id asc
    </select>
    <select id="getMenuProjectCountByMidAndOid" resultType="java.lang.Integer">
         select count(id) from tbl_menu_project where mid = #{param1} and oid=#{param2}
    </select>
    <insert id="addMenuProject">
        insert  tbl_menu_project (mid,oid)  value(#{param1},#{param2})
    </insert>
    <delete id="delMenuProject">
        delete  from tbl_menu_project where id = #{id}
    </delete>
</mapper>