<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zyrs.xyz.obadmin.mapper.VwxappMapper">

    <!--获取所有的成员信息  id 头像 省 市 性别 微信名 身份 公众号openid 注册时间-->
    <sql id="base_column">
        id,avatars,province,city,gender,identity,nickname,wxopenid,create_time
    </sql>

    <!--查询所有成员基本信息-->
    <select id="getAllUserBaseInfo" resultType="zyrs.xyz.obadmin.bean.WxappMember">
        select <include refid="base_column"></include> from tbl_wxapp_member where (nickname like #{param2} or openid = #{param1}) and oid = #{param3}  order by id desc
    </select>

    <!--医生列表信息-->
    <select id="getDoctorList" resultType="zyrs.xyz.obadmin.bean.WxappMember">
        select d.id,m.realavatars,m.realname,m.birthday,m.gender,m.contact,d.hospital,d.good_field,d.level,d.isaudit from tbl_z_v_member_doctor d right join  tbl_wxapp_member m  on d.wxopenid = m.wxopenid where m.identity = 3 and ( realname like #{param1} or hospital like #{param1} or contact like #{param1}) and m.oid=#{param2} order by id desc
    </select>
    <!--医生详情信息   患者人数-->
    <select id="getDoctorDetail" resultType="zyrs.xyz.obadmin.bean.WxappMember">
        select d.id,m.openid,d.wxopenid,m.contact,d.education,d.good_field,d.hospital,m.realavatars,d.level,d.card_face,d.card_back,d.certificate_doctor,d.certificate_practice,d.isaudit,d.message,d.patient_num from tbl_z_v_member_doctor d left join tbl_wxapp_member m on d.wxopenid = m.wxopenid where d.id = #{id}
    </select>

    <!--医生通过(不)|审核请求-->
   <update id="doctorAccessApply">
       update tbl_z_v_member_doctor set isaudit = 2 , message = "" where id = #{id}
   </update>
    <update id="doctorRefuseApply">
        update tbl_z_v_member_doctor set isaudit = 3 , message = #{param2} where id = #{param1}
    </update>


    <!--获取患者 列表信息      id,真是头像 姓名 性别 年龄 手机   最多咨询医生（“姓名-联系-性别”）-->
    <resultMap type="zyrs.xyz.obadmin.bean.VmemberPatient" id="patientInfoResultMap">
        <association property="patient" javaType="zyrs.xyz.obadmin.bean.WxappMember">
            <id column="m_id" property="id"></id>
            <result column="m_realavatars" property="realavatars"/>
            <result column="m_gender" property="gender"/>
            <result column="m_contact" property="contact"/>
            <result column="m_birthday" property="birthday"/>
            <result column="m_realname" property="realname"/>
        </association>

        <association property="doctor" javaType="zyrs.xyz.obadmin.bean.WxappMember">
            <result column="d_gender" property="gender"/>
            <result column="d_contact" property="contact"/>
            <result column="d_realname" property="realname"/>
        </association>

    </resultMap>

    <select id="getPatientList" resultMap="patientInfoResultMap">
          select
            m.id m_id,m.realavatars m_realavatars,m.gender m_gender,m.contact m_contact,m.birthday m_birthday,m.realname m_realname,d.gender d_gender,d.contact d_contact,d.realname d_realname
         from tbl_wxapp_member m,tbl_wxapp_member d  where  m.oid=#{param2} and m.identity = 2 and  d.wxopenid = (SELECT c.doctor_wxopenid FROM tbl_z_v_member_consult c WHERE c.patient_wxopenid = m.wxopenid GROUP BY c.doctor_wxopenid ORDER BY COUNT(c.id) DESC LIMIT 0,1)
         and (m.realname like #{param1} or m.contact like #{param1} or d.realname like #{param1}) order by m.id desc
    </select>


    <!--获取患者信息-->
    <select id="getPatientInfo" resultType="zyrs.xyz.obadmin.bean.WxappMember">
         select id,openid,wxopenid,contact,province,city,realavatars from tbl_wxapp_member where id = #{id}
    </select>
    <!--获取患者咨询记录-->
    <select id="getPatientConsultLog" resultType="zyrs.xyz.obadmin.bean.VmemberConsult">
         select c.create_time,c.server_time,c.complete_time,c.label,c.assess,d.realname doctor_realname from tbl_z_v_member_consult c left join tbl_wxapp_member d on c.doctor_wxopenid = d.wxopenid where c.patient_wxopenid = #{wxopenid} ORDER by c.id desc
    </select>

    <!--患者话费总金额-->
    <select id="getPatientConsultSumMoney" resultType="java.lang.Double">
         select SUM(money) from tbl_order where wxopenid = #{wxopenid} and state = 1
    </select>

    <!--获取用户信息 通过用户id-->
    <select id="getUserInfoById" resultType="zyrs.xyz.obadmin.bean.WxappMember">
        select m.*,d.good_field,d.hospital,d.education,b.balance from tbl_wxapp_member m left join tbl_wxapp_balance b on m.wxopenid = b.openid left join tbl_z_v_member_doctor d on m.wxopenid = d.wxopenid where m.id = #{id}
    </select>
    <!--修改用户基本信息-->
    <update id="modifyUserInfoBase" parameterType="zyrs.xyz.obadmin.bean.WxappMember">
        update tbl_wxapp_member  set realavatars=#{realavatars},realname = #{realname},contact=#{contact},birthday=#{birthday}  where id=#{id};
    </update>

    <!--修改用户 医生 基本信息-->
    <update id="modifyUserInfoDoctorByWxopenid">
        update tbl_z_v_member_doctor  set education=#{education},hospital=#{hospital},good_field=#{goodField}  where wxopenid=#{wxopenid};

    </update>

    <!--创建咨询订单-->
    <insert id="createConsultOrder" parameterType="zyrs.xyz.obadmin.bean.VmemberConsult">
       insert tbl_z_v_member_consult (patient_wxopenid,label,title,picdesc,cost) value(#{patientWxopenid},#{label},#{title},#{picdesc},#{cost})
    </insert>
    <!--更改用户身份为2 患者-->
    <update id="updateMemberIdentityByWxopenid">
        update tbl_wxapp_member set identity = #{param2} where wxopenid = #{param1}
    </update>


    <resultMap id="patientConsultListResultMap" type="zyrs.xyz.obadmin.bean.VmemberConsult">
        <!--必须以菜单的id为主-->
        <id property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="serverTime" column="server_time"/>
        <result property="completeTime" column="complete_time"/>
        <result property="dealStatus" column="deal_status"/>
        <result property="assess" column="assess"/>
        <result property="doctorRealname" column="doc_realname"/>
        <result property="doctorRealavatars" column="doc_realavatars"/>
        <result property="doctorHospital" column="doc_hospital"/>
        <result property="patientRealname" column="patient_realname"/>
        <result property="patientRealavatars" column="patient_realavatars"/>

        <collection property="consultLogs" ofType="zyrs.xyz.obadmin.bean.VmemberConsultLog">
            <result property="consultId" column="consult_id"/>
            <result property="ctype" column="ctype"/>
            <result property="message" column="message"/>
            <result property="image" column="image"/>
            <result property="video" column="video"/>
            <result property="identity" column="identity"/>
            <result property="replytime" column="replytime"/>
            <result property="isread" column="isread"/>
        </collection>
    </resultMap>
    <!--查询患者 咨询消息列表 没有完成的-->
    <select id="getPatientConsultList" resultMap="patientConsultListResultMap">
        select c.id,c.create_time,c.server_time,c.complete_time,c.deal_status,c.assess,
          d.realname doc_realname,d.realavatars doc_realavatars,doc.hospital doc_hospital,
          p.realname patient_realname,p.realavatars patient_realavatars,l.ctype,l.message,l.image,l.video,l.identity,l.replytime,l.isread from tbl_z_v_member_consult c

         left join tbl_wxapp_member p on c.patient_wxopenid = p.wxopenid left JOIN tbl_wxapp_member d on c.doctor_wxopenid = p.wxopenid
         left join tbl_z_v_member_doctor doc on d.wxopenid = doc.wxopenid
         left join tbl_z_v_member_consult_log l on c.id = l.consult_id where p.wxopenid = #{param1} and p.oid=#{param2} and c.deal_status in (1,2)
    </select>
</mapper>