<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zy2018.myadmin.mapper.WeixinMapper">

    <select id="getWeiXinTemplateById" resultType="cn.zy2018.myadmin.entity.WeixinTemplate">
        select *  from tbl_weixin_template where id = #{id}
    </select>

</mapper>