<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zyrs.xyz.obadmin.mapper.WxappMapper">
   <sql id="column">
      id,appid,secret,gzappid,gzsecret,ob_id,status
   </sql>

    <select id="getWxappInfoByObId" resultType="zyrs.xyz.obadmin.bean.Wxapp">
        select <include refid="column"></include> from tbl_wxapp where ob_id  = #{obId}
    </select>
    <!--更新项目的appid secret-->
    <insert id="addOrUpdateWxapp" parameterType="zyrs.xyz.obadmin.bean.Wxapp">
        replace into tbl_wxapp(id,appid,secret,ob_id,status,gzappid,gzsecret) value(#{id},#{appid},#{secret},#{obId},#{status},#{gzappid},#{gzsecret})
    </insert>

    <!--轮播图模块-->
    <insert id="addNewBannerModal">
        replace into tbl_banner value(#{id},#{number},#{descr},#{width},#{height},#{obId})
    </insert>
    <update id="modifyBannerModalWithDescr">
        update tbl_banner set descr=#{param2} where id = #{param1}
    </update>
    <update id="modifyBannerModalWithWidth">
        update tbl_banner set width=#{param2} where id = #{param1}
    </update>
    <update id="modifyBannerModalWithHeight">
        update tbl_banner set height=#{param2} where id = #{param1}
    </update>
    <delete id="deleteBannerModal">
        delete from tbl_banner where id = #{id};
        delete from tbl_banner_child where bid = #{id};
    </delete>

    <!--轮播图-图片-->
    <insert id="addNewBannerChild">
        replace into tbl_banner_child value(#{id},#{url},#{target},#{navurl},#{appId},#{path},#{extraData},#{bid})
    </insert>

    <delete id="deleteBannerChild">
        delete from tbl_banner_child where id = #{id};
    </delete>


    <!--轮播图-->
    <resultMap id="getWxappBannerByOidResultMap" type="zyrs.xyz.obadmin.bean.Banner">
        <!--必须以菜单的id为主-->
        <id property="id" column="id"/>
        <result property="number" column="number"/>
        <result property="descr" column="descr"/>
        <result property="width" column="width"/>
        <result property="height" column="height"/>

        <collection property="bannerChild" ofType="zyrs.xyz.obadmin.bean.BannerChild">
            <result property="id" column="bcid"/>
            <result property="url" column="url"/>
            <result property="target" column="target"/>
            <result property="navurl" column="navurl"/>
            <result property="appId" column="appId"/>
            <result property="path" column="path"/>
            <result property="extraData" column="extra_data"/>
        </collection>
    </resultMap>
    <select id="getWxappBannerByOid" resultMap="getWxappBannerByOidResultMap">
         select
                b.id,b.number,b.descr,b.width,b.height,bc.id bcid,bc.url,bc.target,bc.navurl,bc.appId,bc.path,bc.extra_data
           from tbl_banner b

             left join  tbl_banner_child  bc on b.id = bc.bid  where b.obId = #{obId}
    </select>


    <!--商户平台-->
    <insert id="updateMerchant">
        replace into tbl_weixin_merchant value(#{mchid},#{mchkey},#{tradeType},#{body},#{sslcertPath},#{sslkeyPath},#{rootPath},#{oid})
    </insert>

    <select id="getWxappMerchantInfo" resultType="zyrs.xyz.obadmin.bean.WxappMerchant">
        select * from tbl_weixin_merchant where oid = #{obId}
    </select>

    <select id="getWxappMember"  resultType="zyrs.xyz.obadmin.bean.WxappMember">
        select id,avatars,openid,wxopenid,nickname,gender,`identity`  from tbl_wxapp_member where openid=#{param1} and oid=#{param2} limit 0,1
    </select>

    <!--插入用户 or 更新用户-->
    <insert id="insertOrUpdateMember" parameterType="zyrs.xyz.obadmin.bean.WxappMember">
          INSERT  into tbl_wxapp_member(id,openid,unionid,gender,avatars,nickname,oid,province,city) value(#{id},#{openid},#{unionid},#{gender},#{avatars},#{nickname},#{oid},#{province},#{city})   on duplicate key update openid = #{openid},unionid = #{unionid},gender=#{gender},avatars=#{avatars},nickname=#{nickname},oid=#{oid},province=#{province},city=#{city}
    </insert>

    <!--更新用户公众号openid-->
    <update id="updateWeiXinOpenid">
        UPDATE  tbl_wxapp_member set wxopenid=#{param1} where id = #{param2}
    </update>

    <!--ID  获取 用户 gzopenid-->
    <select id="getUserWxopenidById" resultType="java.lang.String">
        select wxopenid from tbl_wxapp_member where id =#{id}
    </select>

    <!--绑定银行卡-->
    <select id="getUserBank" resultType="zyrs.xyz.obadmin.bean.WxappBank">
        select * from tbl_wxapp_bank where openid = #{param1} and oid = #{param2}
    </select>
    
    <insert id="modifyUserBank"  parameterType="zyrs.xyz.obadmin.bean.WxappBank">
        replace into tbl_wxapp_bank value(#{id},#{oid},#{openid},#{card},#{account})
    </insert>

    <!--查询__更改用户余额-->
    <select id="getMemberBlanceByOpenid" resultType="java.lang.Double">
        select balance from tbl_wxapp_balance where openid = #{param1} and oid=#{param2}
    </select>
    <update id="updateMemberBlanceByOpenid">
        update tbl_wxapp_balance set balance = #{param3} where openid = #{param1} and oid=#{param2}
    </update>

    <!--获取用户的基本信息 通过oid wxopenid-->
    <select id="getMemberBaseInfoByWxopenidAndOid"  resultType="zyrs.xyz.obadmin.bean.WxappMember">
       select realname,contact from tbl_wxapp_member where oid = #{param2} and wxopenid = #{param1}
    </select>

    <!--设置用户的在线状态-->
    <update id="setMemberIsOnline">
        UPDATE tbl_wxapp_member set online = #{param2} where id= #{param1}
    </update>

</mapper>