aside{
    width: 260px;
    box-sizing: border-box;
    text-align: left;
    border-right:1px solid #e7e7e7;
    color: #353535;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: auto;
}
.aside-item{
    line-height: 50px;
    width: 100%;
    font-size:18px;
}
.aside-item .item-one{
    line-height: 40px;
    font-size: 14px;
    cursor: pointer;
    padding-left: 80px;
}
.aside-item .item-one:hover{
    background-color:#f0f0f0;
}
.aside-item .item-one a{
    height: 100%;
    display: inline-block;
}

.aside-item img{
    width: 30px;
    height: 30px;
    margin-left: 30px;
    margin-right: 16px;
}
.item-selected{
    color: #1aad19;
}