<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<!--单独引入外部文件 下滑  layui.js 会导致  请求回调 原因不知-->
<head th:replace  ="/public/head :: head"></head>

<style>
    .banner-box{
        width: 100%;
    }
    .table *{
        text-align: center;
        vertical-align: middle;
    }
    .table .isaudit span{
        color: white;
        padding:5px 10px;
        box-shadow: 1px 1px 5px 1px #bbbbbb;
    }
    .table .operate img{
        width: 50px;
        height:30px;
        cursor: pointer;
    }
    .members .avatars img{
        width:40px;
        height: 40px;
        border-radius: 40px;
    }
    .operator{
        margin: 20px 0;
        width: 100%;
        overflow: hidden;
    }
    .meal img{
        width: 40px;
        height:30px;
        cursor: pointer;
    }

    .operator input{
        width: 260px;
        margin-right:5px;
        float: right;
    }
    .operator button{
        float: right;
    }
    .meal-box .one{
        display: flex;
        margin: 20px 0;
        justify-content: space-between;
    }
    .mealssetsave{
        margin:20px auto;
        width:200px;
        height: 50px;
        line-height:50px;
        text-align: center;
        background-color: #1aad19;
        border-radius: 10px;
        color: white;
        cursor: pointer;
    }

</style>
<body>
<nav th:replace="/public/head::nav"></nav>

<div class="container-box">
    <aside th:replace="/public/aside::aside"></aside>

    <section>
        <div class="section">

            <div class="border-section banner-box">

                <form class="operator" action="/wxapp_v/doctor_list">
                    <button type="submit" class="btn btn-success" style="background-color: #1aad19;">查找</button>
                    <input name="like"  type="text" placeholder="姓名、联系方式、医院" class="form-control"/>
                </form>

                <table class="table table-hover members">
                    <tr>
                        <th>ID</th>
                        <th>医生头像</th>
                        <th>基本信息</th>
                        <th>联系方式</th>
                        <th>坐诊医院</th>
                        <th>擅长领域</th>
                        <th>平台等级</th>
                        <th>审核</th>
                        <th>咨询套餐</th>
                        <th>查看详情</th>
                    </tr>
                    <tr th:each="member:${members}">
                        <td th:text="${member.id}"></td>
                        <td class="avatars">
                            <!--会触发layui的上下滑动事件  原因不知-->
                            <img th:src="${member.realavatars}"/>
                        </td>
                        <td th:text="${member.realname}+ '-'+ ${member.age}  + '-' + ${member.sex}"></td>
                        <td th:text="${member.contact}"></td>
                        <td th:text="${member.hospital}"></td>
                        <td th:text="${member.goodField}"></td>
                        <td th:text="${member.level}"></td>

                        <td class="isaudit">
                            <span  th:if="${member.isaudit == 1}" style="background-color: rgba(255, 5, 7, 0.38);"> 待审核</span>
                            <span  th:if="${member.isaudit == 2}" style="background-color: rgba(21, 128, 39, 0.32);"> 已通过</span>
                            <span th:if="${member.isaudit == 3}" style="background-color: rgba(128, 86, 92, 0.18);"> 不通过</span>
                        </td>
                        <td class="meal">
                            <img src="/static/img/v/meal.png"  title="设置套餐"  data-toggle="modal" data-target="#doctor_meal_modal" th:onclick="openSetMealModal([[${member.realname}]],[[${member.wxopenid}]])"/>
                        </td>
                        <td class="operate">
                            <a th:href="'/wxapp_v/doctor_detail?id='+${member.id}">
                               <img src="/static/img/tools/detail.png" />
                            </a>
                        </td>
                    </tr>
                </table>

                <nav aria-label="..." class="pagination-box">
                    <div class="selectpageNo">共<span th:text="${pageinfo.pages}"></span>页,  <span th:text="${pageinfo.total}"></span>条记录</div>
                    <ul class="pagination">
                        <li><a href="/wxapp_v/doctor_list?pageNo=1">首页</a></li>
                        <li><a th:href="'/wxapp_v/doctor_list?pageNo='+${pageinfo.list.pageNum -3}"  th:text="${pageinfo.list.pageNum -3}" th:if="${pageinfo.list.pageNum -3} > 0"></a></li>
                        <li><a th:href="'/wxapp_v/doctor_list?pageNo='+${pageinfo.list.pageNum -2}"  th:text="${pageinfo.list.pageNum -2}" th:if="${pageinfo.list.pageNum -2} > 0"></a></li>
                        <li><a th:href="'/wxapp_v/doctor_list?pageNo='+${pageinfo.list.pageNum -1}" th:text="${pageinfo.list.pageNum -1}" th:if="${pageinfo.list.pageNum -1} > 0"></a></li>
                        <li class="active"><a href="#" th:text="${pageinfo.list.pageNum}"><span class="sr-only">(current)</span></a></li>
                        <li><a th:href="'/wxapp_v/doctor_list?pageNo='+${pageinfo.list.pageNum +1}" th:text="${pageinfo.list.pageNum +1}" th:if="${pageinfo.list.pageNum +1} <= ${pageinfo.pages}"></a></li>
                        <li><a th:href="'/wxapp_v/doctor_list?pageNo='+${pageinfo.list.pageNum +2}" th:text="${pageinfo.list.pageNum +2}" th:if="${pageinfo.list.pageNum +2} <= ${pageinfo.pages}"></a></li>
                        <li><a th:href="'/wxapp_v/doctor_list?pageNo='+${pageinfo.list.pageNum +3}" th:text="${pageinfo.list.pageNum +3}" th:if="${pageinfo.list.pageNum +3} <= ${pageinfo.pages}"></a></li>
                        <li><a th:href="'/wxapp_v/doctor_list?pageNo='+${pageinfo.pages}">尾页</a></li>
                    </ul>
                </nav>
            </div>

        </div>
    </section>

</div>

<div class="modal fade" id="doctor_meal_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title meal_modal_title" >咨询套餐设置</h4>
                <input type="hidden"  class="meal_modal_wxopenid"/>
            </div>
            <div class="modal-body">
                <div class="meal-box" id="vue-meal">
                      <div id="1" class="one">
                          <div>
                              <label>套餐一：</label>
                              金额(人民币，单位:元 ，整数)
                              <input type="number" class="form-control meal_1"   placeholder="" v-model:value="meals[0].money">
                          </div>
                          <div>
                              <label>套餐一：</label><!--套餐一 不能更改时间-->
                              时间(单位:月,0 表示一次)
                              <input type="number" class="form-control meal_11"  readonly="readonly" v-model:value="meals[0].monthNum">
                          </div>
                      </div>
                      <div id="2" class="one">
                          <div>
                              <label>套餐二：</label>
                              金额(人民币，单位:元 ，整数)
                              <input type="number" class="form-control meal_2" placeholder="" v-model="meals[1].money"  />
                          </div>
                          <div>
                              <label>套餐二：</label>
                              时间(单位:月,0 表示一次)
                              <input type="number" class="form-control meal_22"  v-model:value="meals[1].monthNum"/>
                          </div>
                      </div>
                      <div id="3" class="one">
                          <div>
                              <label>套餐三：</label>
                              金额(人民币，单位:元 ，整数)
                              <input type="number" class="form-control meal_3" placeholder="" v-model:value="meals[2].money"/>
                          </div>
                          <div>
                              <label>套餐三：</label>
                               时间(单位:月,0 表示一次)
                              <input type="number" class="form-control  meal_33"   v-model:value="meals[2].monthNum"/>
                          </div>
                      </div>
                      <div id="4" class="one">
                          <div>
                              <label>套餐四：</label>
                              金额(人民币，单位:元 ，整数)
                              <input type="number" class="form-control meal_4"  v-model:value="meals[3].money"/>
                          </div>
                          <div>
                              <label>套餐四：</label>
                              时间(单位:月,0 表示一次)
                              <input type="number" class="form-control meal_44"   v-model:value="meals[3].monthNum"/>
                          </div>
                      </div>
                </div>


                <div class="mealssetsave" onclick="mealssetsave()">提交</div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>
   const meals = new Vue({
       el: '#vue-meal',
       data: {
           wxopenid:'',
           meals:[
               {
                   id:null,
                   consultType:1,
                   money:66,
                   monthNum:0,
               },
               {
                   id:null,
                   consultType:2,
                   money:0,
                   monthNum:0,
               }
               ,
               {
                   id:null,
                   consultType:3,
                   money:0,
                   monthNum:0,
               }
               ,
               {
                   id:null,
                   consultType:4,
                   money:0,
                   monthNum:0,
               }

           ]
       }
   })
   function openSetMealModal(title,wxopenid){
       console.log("设置医生咨询套餐",title,wxopenid);
       $(".meal_modal_title").text(title+"_咨询套餐设置");
       meals.wxopenid = wxopenid;
       //ajax请求套餐内容
       $.ajax({
           url:"/api/v/get_doctor_consult_meal",
           data:{"wxopenid":wxopenid},
           success:function(res){
               if(res.length > 1){
                   meals.meals = res;
               }
           }
       })
   }

   //提交套餐咨询保存
   function mealssetsave(){
      console.log(meals.wxopenid,meals.meals[0].id);
       //插入更新
       let consult_meals =meals.meals;
       consult_meals.forEach(function(val,index){
            console.log(val.id,val.money,val.monthNum);
            $.ajax({
               url:"/api/v/update_doctor_consult_meal",
               data:{
                   "id":val.id,
                   "wxopenid":meals.wxopenid,
                   "consultType":val.consultType,
                   "money":val.money,
                   "monthNum":val.monthNum
               },
               success:function(res){
                   if(res != "0"){
                       mylayer.msg("系统错误,原因:"+res);
                       //删除医生的咨询套餐...要不全部都成功要不就都失败
                       $.ajax({
                           url:"/api/v/delete_doctor_consult_meal",
                           data:{
                               "wxopenid":meals.wxopenid
                           }
                       })
                     return false;
                   }

                   if(index == 3){
                       mylayer.msg("操作成功！");
                      $("#doctor_meal_modal").modal('hide');
                   }
               }
           })

       })
   }

</script>
</body>
</html>