<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<!--单独引入外部文件 下滑  layui.js 会导致  请求回调 原因不知-->
<head th:replace  ="/public/head :: head"></head>

<style>
    .banner-box{
        width: 100%;
    }
    .table *{
        text-align: center;
        vertical-align: middle;
    }
    .operator{
        margin: 20px 0;
        width: 100%;
        overflow: hidden;
    }
    .operator input{
        width:360px;
        margin-right:5px;
        float: right;
    }
    .operator button{
        float: right;
    }
    .avatars img{
        width:60px;
        height:60px;
        border-radius: 60px;
    }
</style>
<body>
<nav th:replace="/public/head::nav"></nav>

<div class="container-box">
    <aside th:replace="/public/aside::aside"></aside>

    <section>
        <div class="section">

            <div class="border-section banner-box">

                <form class="operator" action="/wxapp_v/doctor_account">
                    <button type="submit" class="btn btn-success" style="background-color: #1aad19;" >查找</button>
                    <input name="like"  type="text" placeholder="医生姓名，联系方式, 医院" class="form-control"/>
                </form>
                <table class="table table-hover">
                  <tr>
                    <th>头像</th>
                    <th>姓名</th>
                    <th>银行开户行</th>
                    <th>卡号</th>
                    <th>总收益</th>
                    <th>已结算</th>
                    <th>可结算</th>
                    <th>冻结</th>
                    <th>操作</th>
                 </tr>
                 <tr th:each="vdoctorincome:${vdoctorincomes}">
                    <td class="avatars">
                        <!--会触发layui的上下滑动事件  原因不知-->
                        <img th:src="${vdoctorincome.realAvatars}"/>
                    </td>
                    <td th:text="${vdoctorincome.realname}"></td>
                    <td th:text="${vdoctorincome.wxappBank.account}"></td>
                    <td th:text="${vdoctorincome.wxappBank.card}"></td>
                    <td th:if="${vdoctorincome.vdoctorBalance!=null}" th:text="'￥'+${vdoctorincome.vdoctorBalance.sum}"></td>
                    <td th:if="${vdoctorincome.vdoctorBalance!=null}" th:text="'￥'+${vdoctorincome.vdoctorBalance.used}"></td>
                     <td th:if="${vdoctorincome.vdoctorBalance==null}">￥0.00</td>
                     <td th:if="${vdoctorincome.vdoctorBalance==null}">￥0.00</td>
                     <td th:if="${vdoctorincome.vdoctorBalance==null}">￥0.00</td>
                     <td th:if="${vdoctorincome.vdoctorBalance==null}">￥0.00</td>
                    <td style="color: orange;font-weight: bold" th:if="${vdoctorincome.vdoctorBalance!=null}"  th:text="'￥'+${vdoctorincome.vdoctorBalance.available}"></td>
                    <td th:if="${vdoctorincome.vdoctorBalance!=null}"   th:text="'￥'+${vdoctorincome.vdoctorBalance.freeze}"></td>
                    <td >
                        <button type="button" class="btn btn-warning" th:onclick="balance([[${vdoctorincome.wxappBank.openid}]])">结算</button>
                    </td>
                </tr>
                </table>

                <nav aria-label="..." class="pagination-box">
                    <div class="selectpageNo">共<span> 1 </span>页,  <span th:text="${#lists.size(vdoctorincomes)}"></span>条记录</div>
                </nav>
            </div>

        </div>
    </section>

</div>
<script>
   function balance(openid){
     //结算
      if(confirm("确认结算医生收益？")){
          $.ajax({
              url:"/api/v/balance_doctor_income",
              data:{"openid":openid},
              success:function(res){
                  window.location.reload();
              }
          })
      }
   }
</script>
</body>
</html>